<html lang="en">



<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='css/ladda-themeless.min.css')}}">
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='js/spin.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/ladda.min.js')}}"></script>

  <!-- Custom styles for this template -->
  <style>
    .container {
      padding-top: 100px;
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="{{url_for('home_page.explore')}}">COMP9900TNB</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item {% if request.endpoint == 'home_page.login' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('home_page.create')}}">Publish a Accommodation</a>
        </li>

        {% if session.email %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{session.email}}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{url_for('user_page.edit')}}">   Edit</a>
              <a class="dropdown-item" href="{{url_for('user_page.edit')}}">  Manage</a>
              <a class="dropdown-item" href="{{url_for('user_page.logout')}}">LOGOUT</a>
              <div role="separator" class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user_page.logout')}}">Logout
         </a>


        {% else %}
        <li class="nav-item {% if request.endpoint == 'user_page.login' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('user_page.login')}}">Log In</a>
        </li>

        <li class="nav-item {% if request.endpoint == 'user_page.signup' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('user_page.signup')}}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
      {% block content %} {% endblock %}
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  {% block javascript %}{% endblock %}

</body>

</html>
