{% extends "base.html" %}
{% block title %}COMP9900_SIGNUP{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <!--select 6 col from md3 ,,,juzhong-->
        <h3>
            SIGN UP
        </h3>
        {% from "_formhelper.html" import render_field %}

        <form method ="POST" action = "{{ url_for('user_page.signup') }}">
            {{ form.csrf_token }}
            {{ render_field(form.name, class="form-control", placeholder="Enter your name,eg zeshi") }}
            {{ render_field(form.email, class="form-control", placeholder="Enter your email") }}
            {{ render_field(form.password, class="form-control", placeholder="Enter your password") }}
            {{ render_field(form.confirm, class="form-control", placeholder="confirm your password") }}



            <button type="submit" class="btn btn-success">
               Sign Up
           </button>

        </form>
    </div>
</div>
{% endblock %}